# Logs
logs
*.log
*.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.vscode/**/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/*
.vs/**/*
appmap.yml
.continue/
portable-build/**/*
tmp/
/pnpm-lock.yaml
/pnpm-workspace.yaml
.github/copilot-instructions.md
refactorgentohook.txt
yarn.lock
build-electron/**/*
dist-electron/**/*
